body{
    padding: 0;
    margin: 0;
}
#header {
    background-image: url(js.png);
    background-size: 90% 102%;
    background-position: center;
    display: block;
    padding: 123px;
    border-radius: 0px 0px 50% 50%;
    font-family: cursive;
    font-size: 13px;
}
.header-title{
    width: 17%;
    padding: 3px;
    background-color: burlywood;
    margin-left: 42%;
    margin-top: 21px;
    text-align: center;
}
#active-btn{
    margin-top: 101px;
    margin-left: 47%;
    background-color: lightsalmon;
    border: none;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    color: crimson;
    transition: 1.5s;
}
#active-btn:hover{
    padding-left: 28px;
    padding-right: 28px;
    cursor: pointer;
}
